<template>
<div>
<div class="panel-heading">
 <h3>Employee List </h3>
</div>
<div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(employee,index) in employees" :key='index'>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>
                <button v-on:click="employeeDetails(employee.id)" class="btn btn-info" >Details</button>
                <button v-on:click="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 20px">Update</button>
                <button v-on:click="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 20px">Delete</button>
               
            </td>
          </tr>

          </tbody>
        </table>
  </div>
  </div>
</template>
<script>
import EmployeeService from "../services/EmployeeService";

export default {
    name:"employee-list",
    data(){
        return{
            employees:[]
        }
    },
    methods:{
        retrieveEmployees(){
            EmployeeService.getAll().then(response=> {
                this.employees=response.data;
                console.log(response.data);
            }).catch(e=>{
                console.log(e);
            })
        },
        refreshList(){
            this.retrieveEmployees();

        },
        deleteEmployee(id) {
          EmployeeService.delete(id)
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
        },
        updateEmployee(id) {
      this.$router.push(`/update/${id}`);
    },
    employeeDetails(id) {
      this.$router.push(`/employees/${id}`);
    }
    },mounted(){
        this.retrieveEmployees();
    }
}
</script>