<template>
<div>
    <h2>Employee Details</h2> 
<hr/>
<div v-if="employee">
  <div>
    <label><b>Employee Id: </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>Name: </b></label> {{employee.name}}
  </div>
  <div>
    <label><b>DOB: </b></label> {{employee.dob}}
  </div>  
  <div>
    <label><b>Age: </b></label> {{employee.age}}
  </div>
  <div>
    <label><b>Salary: </b></label> {{employee.salary}}
  </div>
</div>

<br>
<br>
<button @click="list()" class="btn btn-primary">Back to Employee List</button><br>
</div>
</template>

<script>
import EmployeeService from "../services/EmployeeService";
export default {
    name: "employee-details",
  data() {
    return {
      employee:[]
    };
  },methods:{
       getEmployee(id) {
      EmployeeService.get(id)
        .then(response => {
          this.employee = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
       },
       list(){
            this.$router.push(`/employees`);
       }
  },mounted() {
    this.getEmployee(this.$route.params.id);
  }
}
</script>