<template>

    <div class="submit-form">
    <div v-if="!submitted">
        <h2>Update Employee</h2>
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id" required v-model="employee.id" name="id"/>
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" required v-model="employee.name" name="name" />
      </div>

      <div class="form-group">
        <label for="dob">DOB</label>
        <input type="text" class="form-control" id="dob" required v-model="employee.dob" name="dob"/>
      </div>

     <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" required v-model="employee.age" name="age"/>
      </div>

      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary" required v-model="employee.salary" name="salary"/>
      </div>

      <button @click="updateEmployee" class="btn btn-success">Update</button>
    </div>
    </div>

</template>


<script>
import EmployeeService from "../services/EmployeeService";
export default {
  name: "update-employee",
  data() {
    return {
      employee: {
        id: null,
        name: "",
        dob: "",
        age: null,
        salary:null
      },
      submitted: false
    };
  },
  methods: {
    updateEmployee() {
      var data = {
        id: this.employee.id,
        name: this.employee.name,
        dob: this.employee.dob,
        age: this.employee.age,
        salary: this.employee.salary,
        
      };
      EmployeeService.update(this.employee.id,data)
        .then(response => {
          this.employee.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
          this.goToList();
        })
        .catch(e => {
          console.log(e);
        });
    },    goToList(){
       this.$router.push(`/employees`);
    }  
  }
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>