<template>
<div>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <router-link to="/employees" class="nav-link">Employee List</router-link>
    </li>
    <li class="nav-item">
        <router-link to="/add" class="nav-link">Add Employee</router-link>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;"> Employee Crud Operations</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-view></router-view>
    </div>
  </div>
</div>

</div>
</template>


<script>

export default {
  name: 'App',
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.btn-primary{
  margin-right: 5px;
}
.container-fluid{
text-align: center;
}
</style>
